###################################
# Symfony
###################################

/var/
/vendor/
/public/bundles/

# Cache & logs
/var/cache/
/var/log/

###################################
# Environment files
###################################

.env.local
.env.*.local
.env.local.php
.env.test.local
.env.prod.local

###################################
# PHPUnit
###################################

.phpunit.result.cache
.phpunit.cache
/phpunit.xml
/phpunit.xml.dist.local
/coverage/
/.coverage/

###################################
# Composer
###################################

/composer.phar
/auth.json

###################################
# Symfony secrets (local)
###################################

/config/secrets/dev/*.decrypt.private.php
/config/secrets/test/*.decrypt.private.php
/config/secrets/*.decrypt.private.php

###################################
# IDE
###################################

/.idea/
/.vscode/
/*.iml

###################################
# OS
###################################

.DS_Store
Thumbs.db

###################################
# Docker
###################################

docker-compose.override.yml
.env.docker.local
